.grid-container {
    display: grid;
    grid-template-columns: auto;
    margin: 0 auto;
    color: #fff;
    transform: translateY(-50%);
    width: 50%;
    left: 50%;
    top: 50%;
    gap: 1%;
    justify-content: center;
  }

  .grid-text {
    vertical-align: center;
  }

  .grid-text p {
    background: none;
    font-size: 18px;
  }

  .grid-image {
    height: auto;
    width: 70%;
  }

  .github-logo {
    font-size: 32px;

    &:hover svg {
      color: #ffd700;
    }

  }