.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    color: #fff;
    transform: translateY(-50%);
    width: 50%;
    left: 50%;
    top: 50%;
    gap: 1%;
  }

  .grid-text {
    background: none;
    font-size: 18px;
    font-family: 'Helvetica Neue', 'sans-serif';
    text-align: right;
  }

  .github-logo {
    font-size: 32px;

    &:hover svg {
      color: #ffd700;
    }

  }